.wrapper {
  /* width: 100%; */
  position: relative;
  margin: 3rem;
  /* background-color: rebeccapurple; */
}

.topNav {
  display: flex;
  flex-direction: row;
  position: relative;
  /* background-color: white; */
}

.threeDot {
  position: absolute;
  z-index: 99;
  right: 0;
}

.socket {
  height: 31rem;
  margin: 3rem 0rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* background-color: orange; */
}

.input {
  width: 100%;
  position: sticky;
  bottom: 0;
}
