.wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem 0rem;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(239, 239, 239, 0.7);
  border-radius: 40px;
  overflow: auto;
}

.hamburgerTitle {
  flex: 1;
  width: 100%;
}

.socket {
  flex: 8;
  padding: 1rem;
  overflow: auto;
}

.input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}

/* 반응형-중간 */
@media (max-width: 500px) {
  .wrapper {
    background-color: rgba(239, 239, 239, 0);
    padding: 2rem 0rem;
    border-radius: 0px;
    height: 90vh;
  }
}
