.wrapper {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logDetail {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: darkorange;
}
