.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50vw;
  height: 50vh;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.text1 {
  font-size: 18px;
  font-family: "font4";
}

/* .text2 {
  font-size: 16px;
  font-family: "font4";
} */