.wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
}

.socket {
  /* background-color: teal; */
  margin-left: 3%;
  margin-right: 3%;
  width: 100%;
  height: 100%;
}
