.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.nicknameBox {
  display: flex;
  flex-direction: "row";
  gap: 6px;
}

.nicknameBox p {
  font-family: "font4";
}

.bubbleBox {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.chatbotBubble {
  width: 80%;
  padding: 1.5rem;
  border-radius: 25px;
  background: rgb(220, 224, 245);
  background: linear-gradient(
    90deg,
    rgb(231, 234, 247) 0%,
    rgb(200, 204, 247) 100%
  );
  font-family: "font2";
  font-size: 14px;
  word-break: keep-all;
}

.userBubble {
  width: 80%;
  margin-left: 20%;
  padding: 1.5rem;
  border-radius: 25px;
  border-color: "#D3D5FB";
  border-width: 2px;
  background-color: "#ffffff";
  font-family: "font3";
  font-size: 14px;
  word-break: keep-all;
}
