.dropdownToggle {
  border-width: 2px;
  border-color: #d3d5fb;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
