.title {
  font-size: 17px;
  font-family: "font4";
  margin-bottom: 0.5rem;
}

.input {
  border-radius: 10px;
  border-width: 2px;
  border-color: #d3d5fb;
  padding-left: 0.7rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  width: 100%;
}
