.menu {
  position: absolute;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgae {
  cursor: pointer;
}

.gap {
  display: flex;
  gap: 1rem;
}

.text {
  font-family: "font4";
}

/* 반응형 웹-모바일 */
@media (max-width: 360px) {
  .menu {
    padding: 0.5rem 0.2rem;
  }
}

/* 반응형 웹-데스크탑 */
@media (min-width: 361px) {
  .menu {
    padding: 0.5rem 1rem;
  }
}
