.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(208, 208, 208, 0.5);
}

.modal {
  background-color: #ffffff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 3rem;
}

.modalTitle {
  font-family: "font4";
  text-align: center;
}

.title {
  font-family: "font4";
}

.dropdownContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

/* 반응형 모달창-모바일 */
@media (max-width: 360px) {
  .modal {
    width: 100vw;
    padding: 3rem 1.5rem;
  }
}

/* 반응형 모달창-데스크탑 */
@media (min-width: 361px) {
  .modal {
    width: 50vw;
  }
}
