.container {
  display: flex; /* 요소를 수평으로 배치 */
  flex-wrap: wrap; /* 넘치는 요소는 아래줄로 넘김 */
  justify-content: flex-end; /* 요소를 오른쪽으로 정렬 */
}

.bubble {
  cursor: pointer;
  margin-right: 0.5rem; /* 각 버블 사이의 우측 간격 */
  margin-bottom: 0.5rem; /* 각 버블 사이의 하단 간격 */
  background-color: white;
  border-radius: 40px;
  border-width: 2px;
  border-color: #6459f7;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "font3";
  display: inline-block;
}

.selectedBubble {
  cursor: pointer;
  margin-right: 0.5rem; /* 각 버블 사이의 우측 간격 */
  margin-bottom: 0.5rem; /* 각 버블 사이의 하단 간격 */
  background-color: #d3d5fb;
  border-radius: 40px;
  border-width: 2px;
  border-color: #6459f7;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: "font3";
  display: inline-block;
}
