.image {
  cursor: pointer;
}

.dropdownMenu {
  padding: 1rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  box-shadow: 0px 5px 6px 0.5px grey;
  background-color: #ffffff;
}

.dropdownItem {
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}
